<div>
  <div class="d-flex flex-row justify-content-between align-items-center mb-3 p-3">
    <%= cl_image_tag @user.photo.key, height: 400, width: 400, crop: :crop, gravity: :face, class:"avatar-profile" %>
    <%= link_to  teammates_user_path(@user), class: "text-reset" do %>
      <div class="d-flex flex-column align-items-center justify-content-center"><p class="font-weight-bold mb-0 profile-number"><%= @user.teammates.count %></p><p class="mb-0">T-Mates</p></div>
    <% end %>
    <%= link_to events_attended_user_path(@user), class:"text-reset" do %>
      <div class="d-flex flex-column align-items-center justify-content-center"><p class="font-weight-bold mb-0 profile-number"><%= @user.events.count %></p><p class="mb-0">Attended</p></div>
    <% end %>
    <%= link_to events_created_user_path(@user), class:"text-reset" do %>
      <div class="d-flex flex-column align-items-center justify-content-center"><p class="font-weight-bold mb-0 profile-number"><%= @user.created_events.count %></p><p class="mb-0">Created</p></div>
    <% end %>   
  </div>

  <div class="d-flex flex-row justify-content-around align-items-center mb-3">
    <h3 class="mb-0"><%= "#{@user.first_name} #{@user.last_name}" %></h3>
    <% if current_user.nil? || current_user != @user %>
      <%= render "users/button_teammate", user: @user %>
    <% end %>
  </div>
  <p class="text-justify p-3"><%= @user.content %></p>


  <% if (current_user.nil? || current_user != @user) && !@past_events.count.zero? %>
    <hr>
    <div class="d-flex flex-row justify-content-around align-items-center mb-3">
        <h3 class="m-0">Events Created</h3>
        <% unless @rating.negative? %>
          <%= render "reviews/rating", rating: @rating %>
        <% end %>
      </div>
    <% @past_events.each do |event| %>
      <div>
          <div class="mb-1">
            <a href="<%= event_path(event) %>" class="text-reset">
              <%= render "events/card_event", event:event %>
            </a>
          </div>
      </div>
    <% end %>
  <% elsif !@upcoming_events.nil? %>
    <hr>
      <h3 class="m-0">Upcoming Events</h3>
    <div>
      <% @upcoming_events.each do |event| %>
        <div class="mb-1">
          <a href="<%= event_path(event) %>" class="text-reset">
            <%= render "events/card_event", event:event %>
          </a>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
