  <div class="card-container">
    <div class="card-global">
      <div class="div-icon text-align-center align-middle d-flex align-items-center justify-content-center">
        <i class="fas <%= event.category.logo_link %>"></i>
      </div>
      <div class="card-info">
        <div id="event-title">
          <%= event.title %>
          <% if current_user != nil && current_user.teammates_in_event?(event) %>
            <%= render 'users/avatar_list', users:current_user.teammates_in_event(event) %>
          <% end %>
        </div>

        <div id="event-creator">
          <%= cl_image_tag event.creator.photo.key, height: 400, width: 400, crop: :crop, gravity: :face %>
          <%= event.creator.first_name %>
          <%= event.creator.last_name %>
        </div>

          <div class="card-elements">
            <div>
              <%= image_tag "icons/calendar.svg", alt: "calendar-clock", width: 15, height: 15, id: "calendar" %>
              <%= event.start_time.strftime("%d/%m/%Y") %>
            </div>
            <div>
              <%= image_tag "icons/clock.svg", alt: "icon-clock", width: 15, height: 15, id: "clock" %>
              <%= event.start_time.strftime("%H:%M") %>-<%= event.end_time.strftime("%H:%M") %>
            </div>

          </div>
          <% unless current_user.nil? %>
            <div class="card-distance">
              <%= image_tag "icons/map_marker.svg", alt: "icon-pin", width: 15, height: 15, id: "marker" %>
              <p><%= "#{current_user.distance_event(event).round(0)} km" %></p>
            </div>
          <% else %>
            <div class="card-distance d-flex flex-row flex align-items-center text-align-center">
              <%= image_tag "icons/map_marker.svg", alt: "icon-pin", width: 15, height: 15, id: "marker" %>
              <p><%= "#{4} km" %></p>
            </div>
          <% end %>

      </div>
    </div>
  </div>
