  <div class="card-container">
    <div class="card-global">
      <i class="fas fa-futbol" style="color: #735bbf; font-size: 90px"></i>
      <div class="card-info">
        <div id="event-title">
          <%= event.title %>
          <% if current_user != nil && current_user.teammates.count > 0 %>
            <%= image_tag "icons/fist_raised.svg", alt: "fist", width: 25, height: 25, id: "fist_raised" %>
          <% end %>
        </div>
        <div id="event-creator", style="color: #848383"><%= event.creator.first_name %> <%= event.creator.last_name %></div>
        <div class="card-time">
          <div class="card-elements">
            <%= image_tag "icons/clock.svg", alt: "icon-clock", width: 15, height: 15, id: "clock" %>
            <%= "16:00 - 17:15" %>
          </div>
          <div class="card-distance">
            <%= image_tag "icons/map_marker.svg", alt: "icon-pin", width: 15, height: 15, id: "marker" %>
            <%= "2km" %>
          </div>
        </div>
      </div>
    </div>
  </div>