<div class="navbar-index">
  <% if current_user.nil? %>
    <a href="<%= new_user_session_path %>">
      <%= image_tag "avatar/default.png", class:"navbar-avatar" %>
    </a>
  <% else %>
    <a href="<%= logged_user_path %>">
      <%= cl_image_tag current_user.photo.key, height: 400, width: 400, crop: :crop, gravity: :face, id: "navbar-avatar" %>
    </a>
  <% end %>
  <div class="navbar-form-index">
    <%= form_tag users_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a T-Mate"  %>
      <% end %>
  </div class='filter-icon'>
    <%= image_tag("icons/filter.svg") %>
  </div>
</div>
