<div class="navbar d-flex justify-content-between">
  <% if current_user.nil? %>
    <a href="<%= new_user_session_path %>">
      <%= image_tag "avatar/default.png", class:"navbar-avatar" %>
    </a>
  <% else %>
    <a href="<%= logged_user_path %>">
      <%= cl_image_tag current_user.photo.key, crop: :crop, gravity: :face, id: "navbar-avatar" %>
    </a>
  <% end %>
  <h1>Open≈Lake</h1>
  <%= link_to destroy_user_session_path, method: :delete do %>
    <i class="fas fa-sign-out-alt"></i>
  <% end %>
</div>
