<div class="navbar-index">
  <% if current_user.nil? %>
  <%= image_tag "avatar/default.png", class:"navbar-avatar" %>
  <% else %>
    <a href="<%= logged_user_path %>">
      <%= cl_image_tag current_user.photo.key, crop: :crop, gravity: :face, id: "navbar-avatar" %>
    </a>
  <% end %>
  <div class="navbar-form-index">
    <%= form_tag events_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find an event/T-Mate"  %>
      <% end %>

  </div id= "filter-icon">
    <%= image_tag("icons/filter") %>
</div>
