<div class="search hidden">
  <form action="<%= events_path %>" class="form-search">
    <div class="form-sort">
      <label for="search_sort_date"><input type="radio" name="search[sort]" id="search_sort_date" value="date"><%= image_tag "icons/calendar.svg" %></label>
      <label for="search_sort_distance"><input type="radio" name="search[sort]" id="search_sort_distance" value="distance"><%= image_tag "icons/map_marker.svg" %></label>
    </div>
    
    <div class="form-category">
    <% Category.all.each do |category| %>
      <label for="category<%= category.id %>">
        <input type="checkbox" id="category<%= category.id %>" name="search[category][<%= category.id %>]" value="true">
        <i class='fas <%= category.logo_link %>'></i>
      </label>
    <% end %>
    </div>
    <input type="submit" value="Search" formmethod="get">
  </form>
</div>
<div class="header d-flex flex-row justify-content-between align-items-center">
  <h5 style="font-size: 15px; margin-left: 10px; margin-top: 13px; color: #70757A; ">You have <strong><%= @events.count %></strong> sports events <strong>around you</strong></h5>
  <div id="btn-filter"><p><strong>Filter</strong></p></div>
</div>
<% @events.each do |event| %>
  <%= link_to event_path(event), class: "text-reset" do %>
    <div class="mb-1">
      <%= render 'events/card_event' , event:event %>
    </div>
  <% end %>
<% end %>
<%= javascript_pack_tag "button-show-filter" %>
