<div class="p-2 d-flex flex-column">
  <div class="d-flex flex-row event-show-header ml-2">
    <%= cl_image_tag @event.creator.photo.key, height: 400, width: 400, crop: :crop, gravity: :face, class:"avatar-creator" %>
    <div class="d-flex flex-column">
      <h3 class="namelast_name"><%= "#{@event.creator.first_name} #{@event.creator.last_name}" %></h3>

      <div class="d-flex flex-row" id="date-and-time">
        <p><i class="fas fa-calendar-alt"></i> <%= @event.start_time.strftime("%e %B, %Y") %></p>
        <p><i class="far fa-clock ml-2"></i> <%= "#{@event.start_time.strftime("%k:%m")} to #{@event.end_time.strftime("%k:%m")}"%></p>
      </div>
    </div>
  </div>

  <h3 class="mt-3" style="margin-left: 5px;"><%= @event.title %></h3>

  <div class="d-flex flex-row align-items mt-n1" id="weather-fc">
    <!-- let this space blank -->
  </div>

  <div class="event-show-map" id="map"
     style="width: 350px; height: 250px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div>
    <p class="text-justify event-content"><%= @event.content %></p>
  </div>
  <HR size=50 width=200px>
    <% if current_user != nil && current_user.teammates.count > 0 %>
      <h3>T-Mates</h3>
      <div>
      <% current_user.teammates.each do |teammate| %>
        <%= image_tag "avatar/default.png", class:"avatar-teammate" %>
      <% end %>
      </div>
      <HR size=50 width=200px>
    <% end %>
  <br>
  <div class="text-center">
    <% if current_user != nil && (@event.users.include? current_user || @event.creator == current_user) %>
      <a href="#" class="text-center text-reset align-middle" id="btn-cancel">Cancel attendance!</a>
    <% else %>
      <a href="#" class="text-center text-reset align-middle" id="btn-attend">Attend this event!</a>
    <% end %>
  </div>
</div>
<%= content_tag :div, '', id: 'mycontainer', data: { address: @event.address, start_time: @event.start_time } %>
<%= javascript_pack_tag 'weather_forecast'%>
