<!DOCTYPE html>
<html>
  <head>
    <title>OpenLake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <% if flash[:success] %>
      <div class="alert alert-success alert-dismissible fade show flash-custom">
      <%= flash[:success] %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
    <% end %>
    <%= yield %>
  <%= javascript_pack_tag "remove_alert_timer" %>
  </body>
</html>
